body {
    margin: 0;
    overflow: hidden;
    top: 0;
    background: black;
}

h1 {
    position: absolute;
    z-index: 1;
    color: white;
    font-family: Arial;
    left: 60%;
    top: 50%;

    font-size: 100px;
}

.p5Canvas {
    position: absolute;
    left: 10%;
    top: 40%;
    border-radius: 30%;
    border: 1px solid rgb(255, 0, 0);
}